html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-base);
  line-height: 1.5;
  font-weight: var(--font-light);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #939393;
}

h1,
h2,
h3 {
  font-weight: var(--font-bold);
  text-transform: uppercase;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.2rem;
  letter-spacing: 0.05em;
}

#root {
  display: flex;
  flex-grow: 1;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 10px;
  min-width: 30%;

  h3 {
    text-align: center;
  }

  label {
    font-size: 0.9rem;
    text-align: end;
  }

  input {
    border: none;
    font-size: 0.8rem;
    max-width: 3rem;
    padding-left: 0.3em;
    background-color: #ededed;
    &:disabled {
      color: #000000;
      background-color: #ededed;
      opacity: 0.7;
    }
    &:focus {
      outline: none;
      background-color: #ffffff;
    }
    &:hover {
      background-color: #ffffff;
    }
  }

  select {
    border: none;
    background-color: #ededed;
    font-size: 0.8rem;
    max-width: 3rem;
    &:disabled {
      color: #000000;
      background-color: #ededed;
      opacity: 0.7;
    }
    &:focus {
      outline: none;
      background-color: #ffffff;
    }
    &:hover {
      background-color: #ffffff;
    }
  }
}

button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 9px;
  background-color: #828282;
  &:disabled {
    color: #000000;
    background-color: #828282;
    opacity: 0.7;
  }
  &:hover {
    background-color: #b9b9b9;
  }
}

.board-configuration-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: baseline;
  column-gap: 0.5rem;
  margin-top: 0.5rem;
}

.patterns-form {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  justify-content: center;
  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  button {
    padding-top: 6px;
  }
}

.setup-form {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  justify-content: center;
  gap: 0.6rem;
  select {
    max-width: 10rem;
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 3px;
  color: black;

  .stop {
    background-color: #c31414;
    &:hover {
      background-color: #fb0000;
    }
  }

  .go {
    background-color: #028c3a;
    &:hover {
      background-color: #00ae46;
    }
  }
}

.configuration-container {
  display: flex;
}