@import "styles/normalization";

:root {
  /* FONTS */
  --font-base: "Montserrat", sans-serif;
  --font-headings: "Biryani";

  --font-light: 400;
  --font-medium: 500;
  --font-bold: 600;

  /* COLORS */
  /* App colors */
  --blue: #3f9fc9;
  --green: #4cdec4;
  --yellow: #fdc468;
  --orange: #f17c72;
  --blue-dark: #373760;
  --sponsors-bg: var(--blue);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-base);
  line-height: 1.5;
  font-weight: var(--font-light);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #939393;
}

#root {
  flex-grow: 1;
}